{% extends "portal/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock %}
{% block content %}
    <script type="text/javascript">
        console.log('{{ is_error }}');
    </script>
    {% if is_error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif%}
    <div>
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Join Today</legend>
                {{ form|crispy }}
            </fieldset>
        <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <button type="button" class="btn btn-link">
            <small><a href="{% url 'login' %}">Already have an account? Login</a></small>
        </button>
    </div>
{% endblock %}